.header {
    background-color: #A6A6DE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
}

.links {
    margin: 0 30px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    font-weight: bold;
}